@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Lato:wght@400;700&display=swap');

:root {
    --primary-color: #4A4E69; /* Deep Indigo */
    --secondary-color: #9A8C98; /* Dusty Lavender */
    --tertiary-color: #C9ADA7; /* Pale Mauve */
    --hover-color: #F2E9E4; /* Soft Ivory */

    --primary-font: 'Playfair Display', sans-serif;
    --secondary-font: 'Lato', sans-serif;
}

body {
    box-sizing: border-box;
    background-color: var(--primary-color);
    color: white;
}

.cabecalho {
    font-family: var(--primary-font);
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}

.cabecalho ul {
    display: flex;
    list-style: none;
}

.cabecalho li {
    margin: 0 1rem;
}

.cabecalho a {
    text-decoration: none;
    color: var(--hover-color);
    font-size: 1.5rem;
    font-weight: 700;
    padding: 0.5rem;
    position: relative;
}

.cabecalho a::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    background-color: var(--secondary-color);
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.cabecalho a:hover::after {
    transform: scaleX(1);
}

.about {
    font-family: var(--secondary-font);
    font-size: 1.5rem;
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

section {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}


.title {
    font-size: 2.25rem;
    padding-bottom: 1.5rem;
    font-family: var(--primary-font);
}

.about p {
    font-size: 1.5rem;
    line-height: 30px;
}

span {
    color: var(--tertiary-color);
}

.social-links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 2.5rem;
    gap: 32px;
}

.social-links h2 {
    font-weight: 600;
}

.social-links a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border: 2px solid var(--tertiary-color);
    width: 12rem;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--tertiary-color);
}

.social-links a:hover {
    background-color: var(--secondary-color);
}

img {
    width: 50%;
    border-radius: 15px;
}


@media (max-width: 1200px) {
    .cabecalho {
        padding-top: 1.5rem;
    }

    .cabecalho a {
        font-size: 1rem;
    }
    
    .cabecalho > nav {
        gap: 40px;
    }

    .about {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .about section {
        width: auto;
    }
}